.dk-calendar {
    width: 315px;
    margin-left: auto;
    position: relative;

    &.dk-calendar_loading {
        background: url('/css/img/loading.gif') no-repeat center;
        background-size: 30%;
        height: 300px;
    }


    .dk-calendar__heading {
        padding-left: 18px;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 10px;
        color: #000;
        margin-top: 4px;

        .fa {
            margin-right: 50px;
            color: #f43636;
        }
    }

    table, td, th {
        background-color: transparent;
        padding: 0;
        margin: 0;
        vertical-align: middle;
        text-align: center;
    }

    &.dk-calendar_pos_up {
        .dk-calendar__popover {
            top: 140px;
        }
    }
    &.dk-calendar_pos_down {
        .dk-calendar__popover {
            bottom: 20px;
        }
    }

    .dk-calendar__popover {
        width: 315px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #6eb6d4;
        position: absolute;
        padding: 10px 15px;
        display: none;
        z-index: 999;
        .dk-calendar__popover-close {
            font-weight: 400;
            border-radius: 50%;
            position: absolute;
            right: 10px;
            line-height: 20px;
            font-size: 35px;
            color: #f43636;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
        }
        h3 {
            color: black;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
            margin-top: 13px;
        }
        a, span {
            display: block;
            margin-bottom: 10px;
            color: rgb(102, 102, 102);
            font-size: 15px;
            font-weight: 200;
        }
        a {
            color: rgb(50, 50, 50);
            text-decoration: none;
            &:hover {
                opacity: .7;
                text-decoration: none;
            }
        }
    }

    &.dk-calendar_pos_up {
        .dk-calendar__popover {
            top: 120px;
        }
    }
    &.dk-calendar_pos_down {
        .dk-calendar__popover {
            bottom: 20px;
        }
    }


    .datepicker-inline {
        width: 100%;
    }
    .datepicker.datepicker-inline td {
        width: 32px;
        height: 32px;
        font-size: 18px;
    }
    .datepicker table tr td.active,
    .datepicker table tr td.today,
    .datepicker table tr td.active.today,
    .datepicker table tr td.today:active:hover,
    .datepicker table tr td.today.disabled:hover,
    .datepicker table tr td.active:hover {
        background-image: none;
        border-color: #f43636;
    }
    .datepicker.datepicker-inline th.dow {
        font-size: 8px;
    }

    .datepicker-inline {
        width: 315px;
    }
    .datepicker.datepicker-inline td {
        padding: 0;
        width: 35px;
        height: 35px;
        border-radius: 0;
        color: #000;
        font-size: 18px;
        font-weight: 500;
    }
    .datepicker table tr td.old, .datepicker table tr td.old:hover,
    .datepicker table tr td.new, .datepicker table tr td.new:hover {
        color: #999;
    }
    .datepicker.datepicker-inline .datepicker-months td,
    .datepicker.datepicker-inline .datepicker-years td {
        width: 100%;
    }
    .datepicker.datepicker-inline th.dow {
        height: 10px;
        color: rgb(102, 102, 102);
        font-size: 10px;
        font-weight: 700;
        padding: 5px 0;
        text-transform: uppercase;
    }
    .datepicker table tr td.active {
        color: #fff;
        border-color: #fff;
        &.inner {
            background-color: rgb(255, 10, 83);
        }
        &.inactive {
            background-color: rgba(0, 0, 0, .4);
        }
    }
    .datepicker table tr td.today {
        color: #fff;
        background-color: rgb(255, 10, 83);
        border-color: #fff;
    }
    .datepicker table tr td.active.today {
        color: #fff;
        background-color: rgb(184, 184, 184);
        border-color: #fff;
    }
    .datepicker table tr td.today:active:hover {
        color: #fff;
        background-color: rgb(184, 184, 184);
        border-color: #fff;
    }
    .datepicker table tr td.today.disabled:hover {
        border-color: #fff;
    }
    .datepicker table tr td.active:hover {
        color: #fff;
        border-color: #fff;
    }
}

