@import "dk-calendar";
@import "form.css";
@import "bootstrap-datepicker.standalone.min.css";

body {
    margin: 0;
    padding: 0 60px;
    color: #555;
    font: normal 10pt Arial, Helvetica, sans-serif;
    /*background: #EFEFEF;*/
    height: 100%;
    background: #DCDCDC;
}

.pull-right {
    float: right;
}

.page-title {
    text-align: center;
    font-size: 28px;
    margin: 10px 0 35px 0;
    line-height: 32px;
}

.page-title small {
    font-size: 22px;
    color: #444;
}

.reg-contacts {
    text-align: right;
    font-size: 16px;
    margin-bottom: 40px;
}

.reg-posts {
    margin-bottom: 20px;
}

.reg-posts .post-date {
    font-size: 120%;
    font-weight: normal;
}

.reg-person {
    margin-bottom: 20px;
    min-height: 100px;
}

.reg-preson-name {
    font-size: 18px;
    font-weight: bold;
}

.reg-preson-pic {
    float: right;
    margin-left: 20px;
}

.reg-preson-pic img {
    /*height: 200px;*/
    width: 150px;
    /*max-height: 200px;*/
}

.reg-preson-name small {
    font-size: 18px;
    font-weight: normal;
    color: #444;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify
}

.lead {
    font-size: 14px;
    /*line-height: 21px;*/
}

.tag {
    margin-left: 10px;
}

.top-banner-wrapper {
    padding: 5px 0;
    text-align: justify;
}

.top-banner {
    height: 158px;
    /*display: block;*/
    /*float: right;*/
}

.post-date {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 10px 0;
}

#recentPhotosWrapper {
    border: #999999 1px solid;
    margin: 0 -28px;
    padding-left: 50px;
    background: white;
    height: 250px;
}

#profhelpnews {

}

#profhelpnews h1 {
    color: #330000;
    font-size: 300%;
    font-weight: bold;
    vertical-align: middle;
}

.highlight-green {
    color: rgb(0, 190, 60);
}

.highlight-red {
    color: #FF1313;
}

a {
    color: #006699;
}

a:hover {
    color: #2db9ff;
}

.more-link {
    text-align: right;
    font-size: 200%;
}

.more-link a {
    display: block;
    vertical-align: top;
}

.more-link a span.icon {
    background: url(/css/img/blue-arrow-down.png) no-repeat left bottom;
    width: 19px;
    height: 29px;
    display: inline-block;
}

.more-link a:hover span.icon {
    background: url(/css/img/blue-arrow-down-hover.png) no-repeat left bottom;
}

.bgShadow {

    margin: 0 auto 20px auto;

    width: 1000px;
    background: url(img/shadow/bg_shadow_line.png) repeat-y;
}

.bgShadow .shadowTop {
    height: 10px;
    background: url(img/shadow/top.png) no-repeat;
    overflow: hidden;
}

.bgShadow .shadowTopSub {
    background: url(img/shadow/subtop.png) no-repeat left top;
}

.bgShadow .shadowFooter {
    background: url(img/shadow/bottom.png) no-repeat left bottom;
    padding-bottom: 25px;
}

#page {
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    background: white;
    /*border: 1px solid #C9E0ED;*/
    height: 100%;

}

#header {
    height: 450px;
    margin: 0;
    padding: 0;
    /*border-top: 3px solid #C9E0ED;*/
}

#logo-pic {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 52;

}

#site-title {
    position: absolute;
    top: 60px;

    color: #fff;
    font-size: 170%;
    /*margin: 35px 20px;*/
    padding-left: 20px;

    z-index: 52;
}

#site-title-transparent {

    margin-top: 47px;
    /*padding: 5px 20px;*/
    width: 950px;
    height: 80px;
    opacity: .7;
    z-index: 51;
    background: rgb(190, 0, 0);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* работает в IE6, IE7 и IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* только для IE8 */
}

#site-contacts {

    color: #fff;
    font-size: 110%;
    margin: 16px 40px;
    position: absolute;
    z-index: 52;
    text-align: center;
}

#site-contacts-transparent {
    margin: 12px 30px;
    width: 170px;
    height: 80px;
    opacity: .7;
    background: rgb(243, 189, 17);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70); /* работает в IE6, IE7 и IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=70)"; /* только для IE8 */

}

#search-input {
    background: white url('img/icon-search.png') no-repeat 158px 2px;
    width: 150px;
    height: 18px;
    border: solid 1px #99ccff;
    font-size: 13px;
    padding: 2px 25px 0 5px;
    line-height: 15px;
    font-style: italic;
    color: lightgray;
}

#search-input:focus {
    background-color: #F0F0F0;
    color: #555;
    font-style: normal;
}

#logo {
    position: absolute;
    z-index: 50;
    /*padding: 10px 20px;*/
    /*    font-size: 120%;
        height: 250px;*/
    /*background: transparent url("../files/site/logo2.png") no-repeat right top;*/
    /*background:white url(large-bg.gif) no-repeat right bottom;*/
}

#recentPhotosLogo {
    height: 450px;
    overflow: hidden;

}

#recentPhotosLogo img {
    height: 450px;
    width: 950px;
    overflow: hidden;

}

#recentPhotosLogo div.slide {
    position: relative;
}

#recentPhotosLogo div.slide div {
    width: 100%;
    display: none;
    position: absolute;
    height: 20%;
    bottom: 0;

    background: rgb(0, 0, 0);
    opacity: .6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* работает в IE6, IE7 и IE8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=60)"; /* только для IE8 */

}

#recentPhotosLogo div.slide h4 {
    font-size: 25px;
    padding: 30px 0 0 100px;
}

#recentPhotosLogo div.slide a {
    font-size: 16px;
    color: white;
    padding: 0 0 30px 100px;
}

#recentPhotosLogo div.slide h4, .html_carousel div.slide a {
    color: white;
    margin: 0;
}

.clearfix {
    float: none;
    clear: both;
}

#content {
    padding: 20px;
    display: block;
    position: relative;
}

.page__counter {
    position: absolute;
    right: 17px;
    top: 5px;
}

#sidebar {
    margin-left: 15px;
    padding-top: 20px;
    z-index: -3000;
    background: #eaeaea;
    height: 100%
}

#menu li a {
    text-decoration: none;
}

/*.ui-button  { z-index: 1; }*/
.ui-menu {
    z-index: 2;
}

#side-menu {
    text-align: left;
    background: white;
}

#side-menu, #side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side-menu ul ul {
    margin-top: 10px;
}

#side-menu > li {
    margin-left: 0;
}

#side-menu li a {
    position: relative;
    color: #222;
    text-decoration: none;
    /*font-style: italic;*/
    cursor: pointer;
    padding: 10px 15px;
    font-size: 110%;
    display: block;
    *display: inline;
    *zoom: 1;
}

#side-menu > li > a {
    font-size: 110%;
    font-style: normal;
}

#side-menu li li {
    cursor: auto;
    border: 0;
}

#side-menu li li a {
    padding: 5px 14px;
}

#side-menu li.collapsed > a::before {
    content: " ";
    display: block;
    position: absolute;
    left: 2px;
    top: 0;
    width: 10px;
    height: 100%;
    background-image: url(img/menu-collapsed.png);
    background-position: center left;
    background-repeat: no-repeat;
}

#side-menu li.expanded > a::before {
    background-image: url(img/menu-expanded.png);
    /*background-position: top left;*/
}

#side-menu li.expanded {
    margin-top: 10px;
}

#side-menu ul.leaf {
    margin: 0 0 15px 0;
    padding: 5px 0 15px 0;
    border-bottom: 1px solid #EBEBEB;
}

#side-menu li.expanded:hover {
    background: inherit;
}

#side-menu li:hover {
    background: #EBEBEB;
}

#side-menu li.active > a {
    font-weight: bold;
}

#galery img {
    margin: 5px;
    padding: 3px;
    border: solid lightblue;

}

#galery img:hover {
    cursor: url(img/zoomin.png) 0 0,
    pointer;
}

#footer {
    padding: 10px;
    margin: 0;
    font-size: 0.8em;
    text-align: center;
    background: url(img/shadow/sh-footer.png) no-repeat scroll 0 0 #999999;
}

#mainmenu {
    width: 970px;
    height: 45px;
    margin-left: -10px;
    background: transparent url(img/bg-menu.png) repeat-x left top;
    /*position: absolute;*/

}

#content-begin {
    width: 950px;
    height: 35px;
    position: static;
}

.mainFixed {
    position: absolute;
    z-index: 88;
}

.fixed {
    position: fixed;
    top: 0;
}

#mainmenu ul {
    padding: 10px 10px 9px 0px;
    /*height: 35px;*/
    margin: 0px;
}

#mainmenu ul li {
    display: inline;
}

#mainmenu ul li a {
    color: #ffffff;

    background-color: transparent;
    /*background-color: #6399cd;*/
    font-size: 12px;
    font-weight: bold;
    /*border-left: solid 1px white;*/

    text-decoration: none;

    padding: 11px 20px 9px 20px;
    /*background:transparent url(menu-btn-01.gif) no-repeat left top;*/
}

#mainmenu ul li.first-menu a {
    /*    background:transparent url(mn-lt.gif) no-repeat left top;*/
    padding-left: 25px;
}

#mainmenu ul li.first-menu a:hover, #mainmenu ul li.first-menu.active a {
    background: #EFF4FA;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
    color: #6399cd;
    background-color: #EFF4FA;
}

#social-bar {
    height: 265px;
    left: 0;
    position: fixed;
    top: 0px;
    width: 50px;
    /*background: white;*/
    padding: 10px;

    border-width: 1px 1px 1px 0px;
    z-index: 89;
}

#social-bar a {
    display: block;
    /*float: left;*/
    margin-top: 5px;
}

#social-bar a img {
    height: 30px;
    width: 30px;
}

div.flash-error, div.flash-notice, div.flash-success {
    padding: .8em;
    margin-bottom: 1em;
    border: 2px solid #ddd;
}

div.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
}

div.flash-notice {
    background: #FFF6BF;
    color: #514721;
    border-color: #FFD324;
}

div.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
}

div.flash-error a {
    color: #8a1f11;
}

div.flash-notice a {
    color: #514721;
}

div.flash-success a {
    color: #264409;
}

div.form .rememberMe label {
    display: inline;
}

div.view {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #C9E0ED;
}

div.breadcrumbs {
    font-size: 0.9em;
    margin-bottom: 20px;
}

div.breadcrumbs span {
    font-weight: bold;
}

.portlet {
    /*background:white url(bg-01.gif) repeat-x left top;*/
}

.portlet#bn .portlet-content img {
    margin: 10px 40px;
    /*padding: 10px 40px;*/
}

.portlet-decoration {
    padding: 3px 8px;
    background: #99ccff;
    margin: 0px -3px;
    /*border-left: 5px solid #6FACCF;*/

}

.portlet-title {
    font-size: 14px;
    font-weight: bold;
    padding: 0px 15px;
    margin: 0;
    color: #006699;
}

.portlet-content {
    font-size: 0.9em;
    margin: 0;
    padding: 5px 8px;
    margin-bottom: 15px;
    background: #fff;
    border-left: solid 4px #eaeaea;
    border-right: solid 4px #eaeaea;
}

/*
.portlet-content ul
{
    list-style-image:url(img/menu-collapsed.png);
    list-style-position:inside;
    list-style-type:circle;
    
    margin: 0;
    padding: 0;
}

.portlet-content li
{
    padding: 2px 0px 4px 10px;
    font-size: 100%;
}*/
/*
.portlet-content li.active
{
    text-transform: uppercase;
    list-style-image:url(img/menu-expanded.png);
    list-style-type:circle;
}*/

.portlet-content ul.leaf {
    list-style-image: none;
    text-transform: none;
}

/*.portlet-content li a:hover
{
    background-color: lavender;
}*/

.post {
    margin: 0 0 30px;
}

.post .content {
    color: black;
}

.post .title {
    font-size: 1.5em;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.post .title a#counter {
    font-size: 0.6em;
    display: inline-block;
    background: url(img/views-icon-sm.png) no-repeat;
    padding-left: 20px;

}

.post .title a#counter:hover {
    text-decoration: underline;
    background: url(img/views-icon-sm-hover.png) no-repeat;

}

.post .title a#comments {
    font-size: 0.6em;
    display: inline-block;
    background: url(img/comment-icon-sm.png) no-repeat;
    padding-left: 20px;

}

.post .title a#comments:hover {
    text-decoration: underline;
    background: url(img/comment-icon-sm-hover.png) no-repeat;

}

.post .title a {
    color: #555;
    text-decoration: none;
}

.post .author {
    color: #888;
    margin: 0 0 5px;
}

.post .nav {
    padding: 5px 10px;
    background: #ECEFF1;
}

.post .nav a.btn-more, .post .title a.btn-more {
    font-size: .8em !important;
    margin-top: 2px;
}

.post .post__meta {
    padding: 15px 20px;
    background: #eceff1;
}

.post .title a.btn-more {
    font-size: 10px !important;
    float: right;
}

.important .important-content {
    /*background: #eaeaea;*/
}

.important .post .nav {
    border: 1px solid lightgray;
    /*background: lightgray;*/
}

.comment {
    -moz-border-radius: 7px;
    padding: 10px;
    background: #F5F5F5;
    margin: 5px 0;
}

.comment .content {
    margin: 10px 0;
}

.comment .author {
    margin: 5px 0;
    padding: 0 0 3px;
    border-bottom: 1px solid #DDD;
}

.comment .time {
    color: #888;
    font-size: 0.8em;
}

.comment a.cid {
    color: #CCC;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 5px 5px 5px;
    text-decoration: none;
}

.comment a.cid:hover {
    color: #555;
}

.comment .pending {
    color: red;
}

.sidebar__doc {
    display: block;
    background-color: #fff;
    margin: 4px 4px 20px 4px;
    padding: 18px 15px 18px 10px;
    text-align: center;

    color: #222;
    text-decoration: none;
    font-size: 18px;
}

.sidebar__doc:hover {
    background-color: #93c9ff;
    margin: 4px 0px 20px 0px;
    color: #fff;
}

.sidebar__doc .icon {

}

.heading.heading_type_related {
    margin-bottom: 18px;
    margin-top: 40px;
}

.heading.heading_type_attach {
    margin-bottom: 18px;
    margin-top: 40px;
}

.heading.heading_type_cat {
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.heading.heading_type_tag {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 10px;
    text-align: center;
}

.post .post__title {
    font-size: 26px;
    margin-bottom: 5px;
    margin-top: 10px;
    text-transform: uppercase;
}

.post .post__btn_action_edit {
    font-size: 12px !important;
    float: right;
}

.post .post__link {
    color: #555;
    text-decoration: none;
}

.post .post__author {
    color: #888;
    margin: 0 0 25px;
}

.list_type_related {
    margin-bottom: 50px;
}

.list_type_related .list__item {
    display: block;
    padding: 10px 20px 10px 25px;
    min-height: 30px;
    margin-bottom: 8px;
    color: #222;
    text-decoration: none;
    border-left: solid transparent 1px;
    background-color: transparent;
}

.list_type_related .list__item:hover {
    background-color: #f2f2f2;
    border-color: #9e9e9e;
    color: #000;
}

.list_type_related .list__preview {
    float: left;
    margin-top: 3px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 20px;
    font-size: 30px;
}

.list_type_related .list__label {
    display: inline-block;
    width: 630px;
}

.list_type_related .list__heading {
    font-size: 20px;
    text-transform: uppercase;
}

.list_type_related .list__subheading {
    font-size: 16px;
    color: #555;
}

.list_type_doc {
    margin-bottom: 50px;
}

.list_type_doc .list__item {
    display: block;
    padding: 10px 20px 10px 20px;
    min-height: 30px;
    margin-bottom: 8px;
    color: #222;
    text-decoration: none;
    border-left: solid transparent 1px;
    background-color: transparent;
}

.list_type_doc .list__item:hover {
    background-color: #f2f2f2;
    border-color: #9e9e9e;
    color: #000;
}

.list_type_doc .list__item:hover .list__action {
    visibility: visible;
    opacity: 1;
}

.list_type_doc .list__preview {
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-right: 10px;
}

.list_type_doc .list__label {
    display: inline-block;
    width: 630px;
    font-size: 16px;
}

.list_type_doc .list__action {
    display: inline-block;
    visibility: hidden;
    opacity: 0;
    float: right;
    font-size: 20px;
}

.counter__part {
    cursor: pointer;
}

.counter__views {
    margin: 0 10px 0 5px;
    cursor: pointer;
}

.feed__header {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
}

.sidebar__header {
    font-size: 19px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 20px;
}

.page__banners {
    margin: 27px 0;
    padding-left: 15px;
}


.banner .banner__icon {
    margin-right: 10px;
}

.banner .banner__label {
    display: block;
    padding: 15px 15px 15px 25px;
}

.sidebar__top-nav {
    padding-right: 10px;
    margin-bottom: 25px;
}
.banner {
    &.banner_style_main, &.banner_style_sidebar {
        display: block;
        text-decoration: none;
        color: #222;
    }

    &.banner_style_main:hover, &.banner_style_sidebar:hover {
        opacity: .9;
    }

    &.banner_style_main {
        width: 100%;
        font-size: 20px;
        text-align: left;
        color: #fff;
        margin-bottom: 10px;
        background-color: #4fc3f7;
        text-transform: uppercase;
    }

    &.banner_style_sidebar {
        width: 100%;
        font-size: 15px;
        text-align: left;
        color: #fff;
        margin-bottom: 5px;
        background-color: #4fc3f7;
        text-transform: uppercase;

        .banner__label {
            padding: 15px 12px 15px 12px;
        }
    }

}

.banner.banner_style_top {
    width: 100%;
    margin-bottom: 20px;
}


.banner_style_top .banner__wrap {
    padding: 6px 18px 20px 18px;
    /*background-color: #00ADFC;*/
    border-bottom: solid 1px #ebebeb;
}

.banner_style_top .banner__wrap.banner__wrap_bg {
    background-color: #eceff1;
    padding: 6px 18px 26px 18px;
    margin-top: -30px;
}

.banner_style_top .banner__calendar {
    float: left;
    margin-right: 25px;
    width: 140px;
}


.banner_style_top .banner__extra {
    color: #000;
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
    margin-top: 3px;
}


.banner_style_top .banner__extra:hover {
    color: #000;
}

.banner_style_top .banner__meta {
    padding: 10px 20px;
    background: #f43636;
    color: #fff;
    text-align: center;
    border-radius: 5px;
}

.banner_style_top .banner__date {
    margin-bottom: 3px;
    font-size: 18px;

}

.banner_style_top .banner__time {
    font-size: 30px;
    font-weight: 100;
}

.banner_style_top .banner__body {
    float: left;
    width: 709px;
}

.banner_style_top .banner__body.banner__body_full {
    width: 100%;
}

.banner_style_top .banner__header {
    color: #555;
    margin-top: 3px;
    font-size: 24px;
    margin-bottom: 6px;
}

.banner_style_top .banner__note {
    font-size: 16px;
    color: #666;
}

.banner_style_top .banner__note p {
    margin: 0;
    padding: 0;
}

.banner .banner__link {
    display: block;
}

.banner .banner__link:hover {
    opacity: 0.9;
}

.filter {
    padding: 0;
    margin: 0 0 30px 0;
    text-align: center;
}

.filter .filter__item {
    font-size: 16px;
    list-style: none;
    display: inline-block;
    padding: 0px 7px 0px 5px;
    border-right: 1px solid #616161;
    margin-bottom: 12px;
}

.filter .filter__item_last {
    border-right: none;
}

.filter .filter__item_active .link {
    background-color: #eeeeee;
}

.filter .link:hover {
    background-color: #eeeeee;
}

.filter .link {
    display: block;
    text-transform: lowercase;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    margin: 0 5px 0 5px;
}

/* embed-responsive */
.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
    margin: 0;
}

.embed-responsive .embed-responsive-item,.embed-responsive embed,.embed-responsive iframe,.embed-responsive object,.embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0
}

.embed-responsive-16by9 {
    padding-bottom: 56.25%
}

.embed-responsive-4by3 {
    padding-bottom: 75%
}

.post__video_preview {
    width: 80%;
    margin: 10px auto 20px auto;
}

.post__video_detail {
    width: 80%;
    margin: 10px auto 20px auto;
}

.static-banners {
    padding: 10px 85px 10px 0px;

    .static-banners__banner {
        display: block;
        margin-bottom: 20px;
    }

    .static-banners__image {
        width: 100%;
    }
}

.portlet {
    padding: 10px 0;
    .static-banners {
        .static-banners__banner {
            margin-bottom: 0px;
        }
    }
}

#header {
    .slide small {
        font-size: 18px;
    }
}

.dk-image {
    max-width: 100%;
}

.dk-banner {
    display: block;

    &.dk-banner_type_full-size {
        margin: 10px 0 20px;
    }
}