.reso {

}

.reso__cover {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 380px;
    background-image: url("reso__cover.jpg");
    border-radius: 10px;
    margin-bottom: 24px;
}

.reso__cover-inner {
    text-align: center;
}

.reso__cover .reso__cover-text {
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    color: #fff;
    margin-bottom: 24px;
}

.reso {
    .reso__btn {
        cursor: pointer;
        height: auto;
        display: inline-block;
        vertical-align: top;
        padding: 12px 25px 12px;
        font-size: 15px;
        line-height: 1.3334;
        letter-spacing: 1.23px;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        font-weight: bold;
        border: 0;
        border-radius: 28px;
        background: #23803F;
        background-image: linear-gradient(90deg, rgba(90, 168, 68, 0) 3%, #5AA844 100%);
        transition: background 0.15s cubic-bezier(0.4, 0, 0.2, 1), color 0.15s cubic-bezier(0.4, 0, 0.2, 1), border-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: background, color, border-color;

        &:hover {
            color: #ffffff;
            border: 0;
            opacity: .9;
            text-decoration: none;
        }
    }
}

.reso__block {
    padding: 24px 24px;
}

.reso__block-header {
    margin-bottom: 18px;
    color: #23803f;
    font-size: 18px;
    line-height: 24px;

}

.reso__block-text {
    font-size: 16px;
    line-height: 24px;
}

.reso__highlight {
    padding: 40px 40px 35px 40px;
    margin: 24px 0;
    border-radius: 10px;
    font-size: 16px;
    line-height: 22px;
}

.reso__highlight_color_grey {
    background-color: #f0f0f0;
}

.reso__highlight_color_yellow {
    background-color: #fcfaed;
}

.reso__list-heading {
    margin-bottom: 18px;
}

.reso__form {
    margin: 24px auto;
    padding: 24px 0;
}

.reso__form-header {
    text-align: center;
    color: #23803f;
    font-size: 26px;
    line-height: 28px;
    padding: 0 0 38px;
}

.reso .reso__form .reso__form-errors {
    margin-bottom: 24px;
}

.reso__form-confirm {
    margin-bottom: 24px;
}

.reso__note {
    margin-top: 65px;
}