.voting {

}

.voting.voting_type_photo {
    font-family: "Roboto", Arial, sans-serif;
    box-sizing: border-box;

    .page-heading {
        background: linear-gradient(to bottom, rgba(16, 113, 169, 1) 0%, rgba(255, 255, 255, 0) 100%);
        padding: 95px 0 85px 0;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        text-transform: uppercase;
        line-height: 1;
        margin-bottom: 35px;
    }

    .voting__heading {
        //height: 2.6em;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .voting__detail {
        //height: 2em;
        margin-bottom: 1em;
    }
    .voting__body {
        //height: 110px;
        //overflow: hidden;
    }
    .voting__label {
        display: block;
        height: 15px;
        line-height: 1;
        width: 100%;
    }

    .voting__buttons {
        margin-top: 28px;
        //text-align: center;
    }

    .voting__auth {
        padding: 40px 0 20px 0;
    }

    .voting__items {
        margin-bottom: 45px;
    }

    .voting__form {
        box-sizing: border-box;
        padding: 20px 15px;
        border: #bdd6e7 solid 1px;
        border-radius: 5px;
        margin-bottom: 55px;
    }

    .bootstrap-select.voting__select {
        width: 100% !important;
    }

    .voting__item {
        position: relative;

        &:hover {
            .voting__overlay {
                opacity: 100;
            }
        }
    }

    .voting__overlay {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, .8) 30%, rgba(255, 255, 255, 0.1) 100%);;
        width: 100%;
        height: 100%;
        transition: opacity 0.5s;
    }

    .voting__preview {
        position: relative;
        width: 100%;
        height: 180px;
        overflow: hidden;
        margin-bottom: 25px;
    }

    .voting__thumb {
        max-width: 100%;
    }

    .voting__modal-image {
        text-align: center;
        background: #ebebeb;
        border-radius: 5px;
    }
    .voting__image {
        max-height: 120vh;
        //min-height: 600px;
    }

    .voting__row {
        margin-bottom: 45px;
    }

    .voting__modal-details {
        margin-bottom: 40px;
    }

    .voting__pager {
        text-align: center;
        list-style: none;

        .yiiPager {
            display: block;
            padding-top: 10px;
        }

        margin-bottom: 45px;
        margin-top: 25px;

    }

    .voting__pager-item {
        display: inline-block;
        list-style: none;

        a {
            display: inline-block;
            font-weight: normal;
            color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            border: 1px solid #ebebeb;
            padding: 0.375rem 0.75rem;
            margin-right: 5px;
        }

        &.voting__pager-item_hidden {
            display: none;
        }

        &.voting__pager-item_active {
            a {
                background: #017bff;
                color: #fff;
            }
        }
    }


    .bootstrap-select > .dropdown-toggle {
        height: 38px;
    }

    .voting__modal {
        max-height: calc(100vh);
        overflow-y: auto;

        &.voting__modal_action_vote {
            .modal-dialog {
                min-width: 90vw;
            }

            .modal-body {
                margin-top: 25px;
            }

            .dk-modal__results-text {
                margin-bottom: 45px;
                font-weight: 100;
                text-transform: uppercase;
            }
        }
    }
}
