.dk-dropdown {
    &.dk-dropdown_type_header-sites {
        .dk-dropdown__close {
            border-radius: 50%;
            background-color: rgb(83, 184, 255);
            box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
            position: absolute;
            right: -7px;
            top: -7px;
            width: 28px;
            height: 28px;
            font-size: 28px;
            line-height: 22px;
            color: rgb(255, 255, 255);

            text-align: center;
            vertical-align: center;
            transform: rotate(45deg);
            cursor: pointer;
        }

        .dk-dropdown__target {
            z-index: 9989;
            top: 35px !important;
            transform: none !important;
            left: -120% !important;
            box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
            width: 780px;
            background-color: #fff;
            padding: 40px;
            border-radius: 0px;

            &:after {
                border-bottom: 12px solid rgba(255, 255, 255, 1);
                border-left: 15px solid rgba(0, 0, 0, 0);
                border-right: 15px solid rgba(0, 0, 0, 0);
                content: "";
                display: inline-block;
                left: calc(50% - 80px);
                position: absolute;
                top: -12px;
            }
        }

        .title-box h3 {
            font-size: 14px;
            svg {
                fill: #006fba;
            }
        }

        .dk-dropdown__nested-row {
            .row__col {
                + .row__col {
                    margin-top: 30px;
                }
            }
        }
    }
}

.dk-dropdown {
    &.dk-dropdown_type_header-departments {
        visibility: hidden;
        &.dk-dropdown_js_inited {
            visibility: visible;
        }
        .dk-dropdown__action {
            display: inline-block;
            width: 160px;
            text-align: center;
        }
        .dk-dropdown__target {
            z-index: 9989;
            top: 35px !important;
            transform: none !important;
            left: 0 !important;
            box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            padding: 0px;
            min-width: 250px;
            border-radius: 0px;
            &:after {
                border-bottom: 12px solid rgba(255, 255, 255, 1);
                border-left: 15px solid rgba(0, 0, 0, 0);
                border-right: 15px solid rgba(0, 0, 0, 0);
                content: "";
                display: inline-block;
                left: calc(50% - 40px);
                position: absolute;
                top: -12px;
            }
        }

        .dk-list__item {
            min-width: 200px;
            background-color: #fff;
            padding: 7px 15px;
            &:hover {
                cursor: pointer;
                background-color: #53b8ff;
                .dk-link {
                    color: #fff;
                }
            }
        }

    }
}