.polk {

    .post {
        .post__title {
            margin: 28px 0 24px
        }
    }

    .content {
        margin-bottom: 20px;
    }

    .dk-slider {
        margin-bottom: 32px;
    }

    .dk-slider__slide {
        width: 620px;
    }

    .polk__list {
        margin-bottom: 32px;
    }

    .polk__list-title {
        color: #555;
        font-size: 26px;
        margin-bottom: 16px;
    }

    .polk__item {
        margin-bottom: 8px;
    }

    .polk__item-title {
        color: #555;
        text-decoration: none;
        font-size: 20px;
    }
}