.weatherWidget {
    /*height: 150px;*/
    /*width: 330px;*/
    display: block;
    float: right;
    /*border: solid 1px;*/
}
.weatherWidget p {
    margin: 0;
    text-align: right;

}
.weatherWidget #weather-title{
    /*width: 130px;*/
}

.weatherWidget #weather-title a { 
    text-decoration: none;
    font-size: 180%;
    border-bottom: dashed 1px;
    color: #555;
    cursor: pointer;

}
.weatherWidget #weather-title a:hover { 
    color: coral;
}

.weatherWidget .weather-block { 
    display: inline-block;
    /*        width: 50px;*/
    vertical-align: top;
}

.weatherWidget #weather-title a span.icon { 
    background: url(/css/img/weather-down.png) no-repeat left center;
    width:16px; 
    height:16px;
    display: inline-block;
}
.weatherWidget #weather-content{ 
    font-size: 120%;
    text-align: right;
    font-weight: bold;
    font-style: italic;
}

.weatherWidget #weather-temp {
    font-size: 200%;
    font-weight: bold;
}

weatherWidget #weather-right {
    text-align: right;
}


.weatherWidget #weather-condition {

    font-size: 160%;

}

.weatherWidget #weather-select {
    display: none;
    position: absolute;

    background: white;
    border-bottom: solid 1px;
}