.dk-modal {
    z-index: 9997;
    .modal-body {
        text-align: justify;
    }

    .dk-modal__overlay {
        display: none;
    }

    &.dk-modal_overlay {

        .dk-modal__content {
            position: relative;
        }
        .dk-modal__overlay {
            display: none;
            justify-content: center;
            align-items: center;

            position: absolute;
            background: #fff;
            opacity: .7;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            /* todo: развести на слои */
            z-index: 1001;
        }
    }
    &.dk-modal_loading.dk-modal_overlay {
        .dk-modal__overlay {
            display: flex;
        }

        /* todo: развести на слои */
        .select2 {
            z-index: 0;
        }
    }

    ol {
        display: block;
        list-style-type: decimal;
        padding-left: 20px;
        margin-bottom: 20px;
    }
    .modal-content {
        .close {
            font-family: DinProRegular;
            border-radius: 50%;
            background-color: rgb(83, 184, 255);
            box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
            position: absolute;
            right: 10px;
            top: 10px;
            width: 28px;
            height: 28px;
            font-size: 28px;
            line-height: 22px;
            color: rgb(255, 255, 255);

            text-align: center;
            vertical-align: center;
            transform: rotate(45deg);
            cursor: pointer;

            padding: 0;
            margin: 0;
            background-image: none;
            border: none;
            padding-bottom: 6px;

            outline: none;
            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    .modal-footer {
        justify-content: left;
        border-top: none;
    }
}

.modal-backdrop.show {
    z-index: 9996;
}

.dk-modal.dk-modal_dialog {

    &.dk-modal_stage_dialog {
        .dk-modal__results {
            display: none;
        }
    }

    &.dk-modal_stage_results {
        .dk-modal__dialog {
            display: none;
        }
    }


    .dk-modal__title {
        margin-bottom: 70px;
    }
}

.dk-modal.dk-modal_alert {
    .dk-modal__results-content {
        text-align: left;
    }
}

.dk-modal__results-content {
    margin-bottom: 30px;
}